<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="init"
	default-destroy-method="destroy">

	<bean id="a0011_把单例类定义为bean" class="org.danny.demo.spring2.a02.di.A0011_把单例类定义为bean" factory-method="getInstance"></bean>

</beans>