<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool-4.0.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd"
	default-lazy-init="true">
	
	<!--bean id="borrowMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.BorrowMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<!--bean id="repayMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.RepayMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->

	<!--bean id="repaymentPoolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.RepaymentPoolMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<!--bean id="privilegeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.PrivilegeMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->	

	<!--bean id="borrowRecoverMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.BorrowRecoverMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<bean id="accountMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.AccountMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<!--bean id="activityMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.ActivityMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<!--bean id="borrowAmountMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.BorrowAmountMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<!--bean id="circleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.CircleMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<!--bean id="investPoolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.InvestPoolMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<bean id="officialAccountMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.OfficialAccountMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="cashMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.CashMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<!-- 支付业务使用的DAO -->
	<bean id="accountLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.AccountLogMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="accountRechargeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.AccountRechargeMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="llpayBankInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.LlpayBankInfoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="llpayWaitLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.LlpayWaitLogMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<!--bean id="returnLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.ReturnLogMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<bean id="siteTransLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.SiteTransLogMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="tempUserApprovalMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.TempUserApprovalMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="tempUserBankBindingMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.TempUserBankBindingMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="userActionLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.UserActionLogMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="userApprovalMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.UserApprovalMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="userBankBindingMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.UserBankBindingMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="userDetailMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.UserDetailMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="userTransLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.UserTransLogMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	<bean id="userAdminMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.UserAdminMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<!--bean id="baseDateMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.BaseDateMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<!--bean id="accountCardMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.AccountCardMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.UserMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="packetMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.PacketMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<!--bean id="interestCouponMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.xxx.webservice.biz.base.mapper.InterestCouponMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean-->
	
</beans>
