<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    
<bean id="studentService" 
      class="com.springinaction.chapter06.StudentServiceImpl"/>

<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
    <property name="serviceName"><value>StudentService</value></property>
    <property name="service"><ref bean="studentService"/></property>
    <property name="serviceInterface">
        <value>com.springinaction.chapter06.StudentService</value>
    </property>
</bean>
    
<bean id="studentServiceProxy" 
      class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
    <property name="serviceUrl">
        <value>rmi://localhost:1099/StudentService</value>
    </property>
    <property name="serviceInterface">
        <value>com.springinaction.chapter06.StudentService</value>
    </property>
</bean>

</beans>