<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<description>Spring-web MVC admin 配置</description>


	<!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd -->
	<mvc:resources mapping="/common/**" location="/common/" />
	<mvc:resources mapping="/html/**" location="/html/" />

	<context:annotation-config />
	<!-- 把标记了@Controller注解的类转换为bean -->
	<context:component-scan base-package="com.xxx.platform.onlinelog.restapi,com.xxx.finance" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="assignable" expression="com.xxx.platform.onlinelog.restapi.RestAPIWebConfigurer"/>
	</context:component-scan>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.xxx.webservice.interceptor.BaseInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/recharger/rechargeMoney.htm"/>
			<mvc:mapping path="/recharger/rechargeMoneyV2.htm"/>
			
			<mvc:mapping path="/fundingSecurity/queryUserAuthStatus.htm"/>
			
			<mvc:mapping path="/cashier/readyToPay.htm"/>
			<mvc:mapping path="/moneyFreezer/freezeMoney.htm"/>

			<bean class="com.xxx.webservice.interceptor.OAuthInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.xxx.platform.onlinelog.restapi.AppLogInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 当请求应用程序首页时，将执行/请求，还可以设定成redirect、forward <mvc:view-controller path="/" 
		view-name="redirect:/login.html" /> -->
	<!-- 这两个类用来启动基于Spring MVC的注解功能，将控制器与方法映射加入到容器中 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<!-- 配置一下对json数据的转换 -->
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<bean class="org.springframework.http.MediaType">
								<constructor-arg value="text" />
								<constructor-arg value="html" />
								<constructor-arg value="utf-8" />
							</bean>
						</list>
					</property>
				</bean>
				
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
			</list>
		</property>
	</bean>

	<bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/fm/" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="number_format">#.##</prop>
			</props>
		</property>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="exposeSpringMacroHelpers" value="true" />
	</bean>
	
	<context:property-placeholder location="classpath*:config.properties" />
	
	<bean class="com.xxx.monitor.AppMonitorController">
		<property name="dataSource" ref="dataSource" />
		<property name="redisTemplate" ref="redisTemplate" />
		<property name="systemMonitorCascadeUrls" value="${system.monitor.cascade.urls}" />
	</bean>
</beans>
