<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="broadsword" class="org.danny.demo.spring1.a02.di.G0009_刀">
	</bean>

	<bean id="a0010_基于xml注入的bean" class="org.danny.demo.spring1.a02.di.A0010_基于xml注入的bean">
		<constructor-arg value="100"></constructor-arg>
		<constructor-arg ref="broadsword"></constructor-arg>
		<property name="attack" value="50"></property>
	</bean>

	<bean id="a0012_bean的初始化和销毁" class="org.danny.demo.spring1.a02.di.A0012_bean的初始化和销毁"
		init-method="init" destroy-method="destroy"></bean>

	<bean id="a0013_内部bean例子" class="org.danny.demo.spring1.a02.di.A0013_内部bean例子">
		<property name="innerClazz">
			<bean class="org.danny.demo.spring1.a02.di.A0013_InnerClazz"></bean>
		</property>
	</bean>

	<bean id="a0014_装配集合例子" class="org.danny.demo.spring1.a02.di.A0014_装配集合例子">
		<property name="intArray">
			<list>
				<value>1</value>
				<value>2</value>
			</list>
		</property>
		<property name="objectList">
			<list>
				<ref bean="a0010_基于xml注入的bean" />
				<ref bean="a0012_bean的初始化和销毁" />
			</list>
		</property>
		<property name="strSet">
			<set>
				<value>str1InSet</value>
				<value>str2InSet</value>
			</set>
		</property>
		<property name="strMap">
			<map>
				<entry key="key1InMap" value="${key1InMap}" />
				<entry key="key2InMap" value="value2InMap" />
			</map>
		</property>
		<property name="props">
			<props>
				<prop key="key1InProp">value1InProp</prop>
			</props>
		</property>
	</bean>
	
	<bean id="a0015_Bean初始化后处理的例子" class="org.danny.demo.spring1.a02.di.A0015_Bean初始化后处理的例子"></bean>
	
	<bean id="a0016_BeanFactory初始化后处理的例子" class="org.danny.demo.spring1.a02.di.A0016_BeanFactory初始化后处理的例子"></bean>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>jdbc.properties</value>
		</property>
		<!--property name="locations">
			<list>
				<value></value>
			</list>
		</property-->
	</bean>
	
	
	<bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="org.danny.demo.spring1.a02.di.PhoneNumber">
					<bean id="phoneEditor" class="org.danny.demo.spring1.a02.di.Phone属性编辑器"></bean>
				</entry>
			</map>
		</property>
	</bean>	
	<bean id="a0017_属性编辑器的例子" class="org.danny.demo.spring1.a02.di.A0017_属性编辑器的例子">
		<property name="phoneNumber" value="888-555-1111"></property>
	</bean>
	
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="res"></property>
	</bean>
	<bean id="a0018_读取国际化资源的例子" class="org.danny.demo.spring1.a02.di.A0018_读取国际化资源的例子"></bean>
	
	
	<bean id="a0019_事件监听者" class="org.danny.demo.spring1.a02.di.A0019_事件监听者"></bean>
	
	<bean id="a0019_事件发布者" class="org.danny.demo.spring1.a02.di.A0019_事件发布者"></bean>
</beans>
